html * {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 0;
    --base-validation-success: #00853D;
    --base-background-error: #FF7777;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    column-gap: 80px;
    padding: 15px 80px 15px 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #dbdbdd;
    z-index: 1;
    height: 65px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    column-gap: 80px;
}

.logo-nav {
    height: 40px;
}

.navbar-col-1,
.navbar-col-2 {
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    background-color: #c61d1d;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    width: 120px;
}

.navbar-account {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
}

section {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding-top: 35px;
}

.right {
    padding: 80px 50px 50px 50px;
    background-color: #f2f2f2;
    width: 75%;
    box-shadow: 0px 10px 30px rgba(46, 51, 60, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.profile-info {
    background: rgb(241, 235, 235);
    height: 90%;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 10px 30px rgba(46, 51, 60, 0.2);
}

.profile-info span {
    color: #5d131c;
    font-size: 20px;
}

.donor_info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.edit-profile {
    text-decoration: underline;
    border: none;
    color: #c61d1d;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: none;
}

.CTA-module--primary__1xvty,
.CTA-module--primary__1xvty:visited {
    border: var(--interactive-border-width) solid;
    border-radius: var(--interactive-border-radius);
    box-shadow: var(--shadow-interactive-default-blur) var(--shadow-interactive-default-spread) var(--shadow-interactive-default-color);
    background: black;
    border-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.SettingsPageTemplate--submitGroup__1r-MV button,
.SettingsPageTemplate--submitGroup__1r-MV a,
.SettingsPageTemplate--submitGroup__1r-MV button,
.SettingsPageTemplate--submitGroup__1r-MV a {
    margin-top: 20px;
    width: 90%;
}


.span-anulare {
    color: black;
    text-decoration: none;
}

.CTA-module--action__3pIxr {
    border: 1px solid black;
    padding: 20px;
    text-decoration: none;
}

.SettingsPageTemplate--submitGroup__1r-MV {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Field-module--childWrapper,
.Field-module--childWrapper {
    position: relative;
    width: 90%;
}

.Field-module--childWrapper.Field-module input,
.Field-module--childWrapper.Field-module input {
    /* border-color: var(--base-validation-success);*/
}

.BaseInput-module {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    width: 100%;
}

.FormLabel-module--required__WZpwz::after {
    content: " *";
    color: var(--base-validation-error);
}

.Input-module--input,
#portal .Input-module--input {
    position: relative;
}

.IconWrapper-module--icon {
    position: absolute;
    inset-inline: auto 10px;
    top: 16px;
}

.validIcon {
    fill: var(--base-validation-success);
}

.invalidIcon {
    fill: red;
}

.DateInput-module--wrapper {
    align-items: center;
    background: white;
    overflow: hidden;
    display: flex;
    position: relative;
    padding-right: 20px;
}

.IconWrapper-module--icon {
    flex-shrink: 0;
    height: 16px;
    position: absolute;
    inset-inline: auto 10px;
    top: 16px;
}

.Field-module--labelWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.personal-details-edit {
    background: rgb(241, 235, 235);
    height: 90%;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 10px 30px rgba(46, 51, 60, 0.2);
    display: none;
}

.FieldList-input {
    margin-bottom: 30px;
}

.password_message, .phone_message {
    font-size: 15px;
    margin-top: 5px;
    color: red;
}

.Field-module--childWrapper input {
    background-color: white;
}

.valid {
    border-color: var(--base-validation-success);
}

.invalid {
    border-color: red;
}

.FormLabel-module--label__3g_sT {
    display: block;
    margin: 0 0 10px;
}

.DateInput-module--input {
    border: 0;
    height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -moz-appearance: textfield;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.DateInput-module--input:focus {
    outline: none;
}

.PhoneNumberInput-module--wrapper__1x-6p .PhoneInput {
    border: 1px solid var(--base-tertiary-interactive);
    box-sizing: border-box;
    height: 48px;
    padding: var(--spacing-xs-px);
    display: flex;
    align-items: center;
}

.PhoneNumberInput-module--wrapper__1x-6p .PhoneInputCountry {
    border-right: 1px solid var(--base-tertiary-interactive);
    margin: 0;
    padding-right: var(--spacing-xs-px);
    position: relative;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.PhoneNumberInput-module--wrapper__1x-6p .PhoneInputCountrySelect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
}

.PhoneNumberInput-module--wrapper__1x-6p .PhoneInputInput {
    border: 0;
    padding: 0 0 0 var(--spacing-xs-px);
    flex: 1;
    min-width: 0;
}

.PhoneNumberInput-module--chevron__3bzJE {
    height: 20px;
    padding-left: var(--spacing-xs-px);
    width: 20px;
}

.legend {
    margin-bottom: 20px;
    font-size: 30px;
    color: #c61d1d;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 20px;
}

.right {
    font-size: 20px;
    color: #c61d1d;
    font-family: 'Montserrat', sans-serif;
}

.right-row-1 span {
    font-size: 30px;
    color: #c61d1d;
}

.right-row-1 {
    font-size: 30px;
    color: #5d131c;
    font-weight: bold;
}

.row-1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #c61d1d;
    padding: 40px 20px 30px 20px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(46, 51, 60, 0.2);
}


footer {
    width: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #333;*/
    background-color: #321e1e;
    color: white;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer b {
    color: #cd5d5d;
}

.terms {
    column-gap: 30px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terms a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 20px 20px 20px;
    row-gap: 20px;
    background-color: rgb(255, 255, 255);
    width: 25%;
}

.left img {
    height: 70px;
}

.logo-Centru-div {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.centru {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-row-1 {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #e03d3d;
    font-weight: bold;
}

.left-row-2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #7e4040;
}

.menu {
    height: 650px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    box-shadow: 0px 10px 30px rgba(46, 51, 60, 0.2);
}

.menuItems {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options {
    width: inherit;
}

.items {
    height: 50px;
    width: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.items>i {
    margin: 0 20px;
}

.items img {
    width: 25px;
    height: 25px;
}

.items>a {
    letter-spacing: 2px;
}

.items a {
    text-decoration: none;
    color: black;
}

.selected {
    color: #232323;
    background: linear-gradient(to left, #e6eaec, #faa5ca, #e43f3f);
    /*background: linear-gradient(to left, #f7f3ed, #ffbd61, #cc1d1d);*/
}

.mobile-navbar {
    display: none;
}

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-menu {
    position: relative;
}

.action {
    display: none;
    position: relative;
}

.menu-profile {
    position: absolute;
    top: 50px;
    right: -10px;
    padding: 10px 20px;
    background: #c4bbbb;
    width: 250px;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    z-index: 100;
    transition: 0.5s;
}

.action .menu-profile.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu-profile::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #c4bbbb;
    transform: rotate(45deg);
}

.action .menu-profile h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
    color: white;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.action .menu-profile h3 span {
    font-size: 14px;
    color: white;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.action .menu-profile ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgb(255 255 255 / 52%);
    display: flex;
    align-items: center;
}

.action .menu-profile ul li img {
    max-width: 20px;
    margin-right: 10px;
    transition: 0s;
}

.action .menu-profile ul li:hover img {
    opacity: 1;
}

.action .menu-profile ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

ul {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0px 10px 10px 10px;
}

.action .menu-profile ul li:hover a {
    color: #ff5d94;
}

.mobile-navbar {
    display: none;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

@media only screen and (max-width: 1000px) {
   .left {
    width: 40%;
   }

   .navbar-col-1, .navbar-col-2 {
    width: 100px;
   }

   nav {
    column-gap: 50px;
   }

   .navbar-links {
    column-gap: 40px;
   }
}

@media only screen and (max-width: 700px) {
    section {
        position: relative;
    }

    .left {
        display: none;
        width: auto;
    }

    nav {
        padding: 15px 40px 14px 40px;
    }

    .navbar-col-2 {
        display: flex;
        cursor: pointer;
    }

    .right {
        width: 100%;
    }

    .row-1 {
        font-size: 20px;
    }

    .action {
        display: block;
    }
}

@media only screen and (max-width: 630px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        width: 100%;
        border-bottom: solid 1px #dbdbdd;
        z-index: 1;
        height: 50px;
    }

    .logo-nav {
        height: 30px;
        background-color: none;
        padding: 0;
    }

    .dropbtn img {
        border: none;
        cursor: pointer;
        width: 25px;
        float: left;
    }

    button.dropbtn {
        background: none;
        border: none;
        padding: 0;
        width: 25px;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /* background: linear-gradient(to right, rgb(178 92 93), rgb(193, 22, 22)); */
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 50px;
        right: 0;
        height: fit-content;
        padding: 20px 20px 20px 20px;
        min-height: 700px;
    }

    .dropdown-content a {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #c61d1d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: solid 1px rgb(178, 174, 174);
        margin-bottom: 30px;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    .row-1 {
        margin: 0;
    }

    .profil {
        position: relative;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #c61d1d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: solid 1px rgb(178, 174, 174);
    }

    .action .menu-profile::before {
        left: 28px;
        right: 0px;
    }

    .menu-profile {
        right: 0px;
        left: 10px
    }

    .donation-type button {
        min-height: 80px;
        height: auto;
        line-height: normal;
    }

    footer {
        font-size: 10px;
    }
}